extends layout

block content
    .new-project-container
        h1 #{ pageName }

        if errors 
            each error in errors
                .alert= error.text

        form.create-project(action="/new-project" method="POST")
            .input-container
                label(for="name") Project Name 
                input(type="text" id="name" name="name")
            .input-container.send 
                input(type="submit" value="ADD")