mixin createProject(project = {})
    
    form.create-project(action=`/new-project/${project.id || ''}` method="POST")
        .input-container
            label(for="name") Project Name 
            input(value=project.name type="text" id="name" name="name" placeholder="Project Name")
        .input-container.send 
            input(type="submit" value=`${project.name ? "Update" : "Add"}`)